/* styles/layout/about.module.css */
.about {
  background: transparent;
  width: 100%;
  justify-content: center;
  text-align: center;
  position: relative;
}

.closeBtn {
  position: relative;
  background: none;
  margin-top: 16px;
  font-size: 1.5rem;
  color: gold;
  cursor: pointer;
  transition: background 0.2s;
  z-index: 2;
  border: none;
}

.closeBtn:hover {
  filter: brightness(0.95);
}

/* Content animation */
.content {
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}
.expanded {
  max-height: 1200px;
  opacity: 1;
}
.collapsed {
  max-height: 0;
  opacity: 0;
}

.learnMore {
  color: blue;
  text-decoration: underline;
}

.learnMore:hover {
  color: darkblue;
}

.infoRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
  background: radial-gradient(
    circle 500px at 50% 50%,
    rgba(224, 233, 61, 0.363),
    transparent
  );
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

.infoIcon {
  color: gold;
}

.infoText {
  color: black;
}

.text {
  font-size: 1.1rem;
  color: grey;
  line-height: 1.7;
  margin: 0 auto;
  max-width: 60%;
}
.highlight {
  color: gold;
  font-weight: 700;
}
.emphasis {
  color: black;
  display: block;
  margin-top: 1rem;
}