/* styles/layout/container.module.css */
.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wardMain {
  flex: 1;
  display: flex;
  width: auto;
  transition: margin-left 0.3s ease;
}

.wardContent {
  flex: 1;
  width: auto;
}

/* Desktop styles */
@media (min-width: 769px) {
  .wardMain {
    margin-left: 70px; /* Sidebar width */
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .page {
    display: flex;
    flex-direction: column;
  }

  .wardMain {
    margin-bottom: 70px; /* Space for bottom bar */
  }
}


