.baseButton {
  all: unset;
  display: inline-block;
}

.baseButton button {
  all: unset;
}

/* primary */
.primary {
  background: var(--primary);
  color: white;
}

/* secondary */
.secondary {
  background: var(--secondary);
}

/* danger */
.danger {
  background: var(--contrast);
}

/* outline */
.outline {
  background: transparent;
  border: 1px solid var(--primary);
}
